<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location){
        <p>Localisation: {{faceSnap.location}}</p>
    }@else{
        <p>Localisation non spécifiée</p>
    }
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>FaceSnap créée le {{ faceSnap.createdAt }}</p>
    <p>
        <button [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }" (click)="onSnap()">{{snapButtonText}}</button>
        🩷 {{ faceSnap.snaps }}
    </p>
  </div>